.sec-consultant{
    background-image: url(../../src/consultant-bg.png);
}

@media screen and (max-width:998px) {
    .consultant-left{

    }
    .consultant-left img{
        height: 32rem
    }
}
@media screen and (max-width:998px) {
    .sec-consultant{
        height: 60vh;
    }
    .consultant-left{

    }
    .consultant-left img{
        height: 27rem
    }
}